NODE_ENV=development

APP_PORT=3000

DB_HOST=
DB_PORT=4000
DB_USER=
DB_PASSWORD=
DB_NAME=retroplayer_dev
DB_SSL=true

FRONTEND_URL=http://localhost:3001
ADMIN_PANEL_URL=http://localhost:3002

JAMENDO_CLIENT_ID=your_jamendo_client_id
JAMENDO_API_URL=https://api.jamendo.com/v3.0

YOUTUBE_API_KEY=your_youtube_api_key
YOUTUBE_API_URL=https://www.googleapis.com/youtube/v3
